* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: system-ui, sans-serif;
}

/* MAIN PHONE / APP LAYOUT */
.phone {
  height: 100dvh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  background: #6b4a73;
}


.header {
  height: 56px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.header-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* CHAT BODY */
.chat-body {
  flex: 1;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

/* CHAT BUBBLES */
.bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 14px;
  word-wrap: break-word;
}

.left {
  background: #fff;
  align-self: flex-start;
}

.right {
  background: #e0c7ff;
  align-self: flex-end;
}

/* INPUT BAR */
.input-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background: #fff;
}

/* INPUT FIELD */
.input-bar input,
.input-bar textarea {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  resize: none;
}
.input-bar textarea {
  height: 40px;
  max-height: 40px;
  overflow-y: auto;
}


/* SEND BUTTON */
.input-bar button {
  flex-shrink: 0;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background: #6b4a73;
  color: #fff;
  cursor: pointer;
}

/* OPTIONAL: NICE SCROLLBAR */
.chat-body::-webkit-scrollbar {
  width: 6px;
}
.chat-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* Bottom Nar */
.bottom-nav {
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #201e1e;
}
.bottom-nav button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
}
.bottom-nav img {
  width: 26px;
  height: 26px;
  object-fit: contain;
}
